html, body, div, span, iframe, h1, h2, h3, p, a,
img, ul, li, table, tbody, tfoot, thead, tr, th,
td, figure, figcaption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body, #wrap{
	width:100%;
	font-size:62.5%;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fontYaHei{
	font-family:"Microsoft YaHei";
	letter-spacing:0.3em;
}
.width100{
	width:100%;
}
.height100{
	height:100%;
}