@charset "UTF-8";
/**
 *
 * @authors CaiJinBiao
 * @date    2016-11-23 21:39:37
 * @version 1.0
 */
#wrap{
	position:relative;
	background-color:#F7F7F7;
}
#header, #footer{
	position:fixed;
	left:0;
}
/*头部开始*/
#header{
	top:0;
	height:60px;
	line-height:60px;
	min-width:270px;
	font-size:6em;
	border-bottom:0.16em solid #DCDCDC;
}
.header-back{
	margin:0 3px -3px 0;
	margin-left:1.2%;
	margin-right:-1%;
	width:25px;
	height:25px;
	cursor:pointer;
}
#message-name{
	margin-left:2%;
}
#group-pic{
	display:inline-block;
	float:right;
	padding-top:10px;
	padding-right:2%;
	height:40px;
	width:40px;
	cursor:pointer;
}
/*头部结束*/
/*测导航栏开始*/
#nav{
	position:fixed;
	right:-320px;
	width:320px;
	font-size:3em;
	background-color:#EBEBEB;
	z-index:999;
}
.nav-figure{
	display:inline-block;
	margin-left:10%;
	font-size:1.5em;
}
.nav-pic{
	display:block;
	margin:0px auto;
	padding:1em 0px;
	width:40px;
	height:40px;
	font-size:1em;
	cursor:pointer;
}
.figcaption{
	display:block;
	word-wrap:break-word;
	cursor:pointer;
}
.nav-group, #nav-option{
	margin-top:2em;
	font-size:1.5em;
	background-color:#F7F7F7;
}
.group-name{
	float:right;
	width:40%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#name-span{
	height:2.5em;
	line-height:2.5em;
	font-size:1em;
	font-family:'宋体';
	letter-spacing:0;
}
.nav-group p, #nav-option p{
	height:2.5em;
	line-height:2.5em;
	font-size:1em;
	text-indent:1em;
	cursor:default;
}
.nav-group p+p, .nav-option p+p{
	border-top:0.15em solid #EBEBEB;
}
.option-button{
	float:right;
	margin-right:5%;
}
.button-background{
	display:inline-block;
	height:1.5em;
	width:3em;
	background-color:#989898;
	border-radius:2em;
	vertical-align:middle;
	cursor:pointer;
}
.button-circle{
	float:left;
	margin:0.15em;
	height:1.22em;
	line-height:1.22em;
	width:1.25em;
	background-color:#FFFFFF;
	border-radius:1.25em;
}
.button-backgroundClick{
	background-color:#9EEA6A;
}
.button-circleClick{
	float:right;
}
/*测导航栏结束*/
/*内容区开始*/
#content{
	position:absolute;
	left:50%;
	top:60px;
	bottom:185px;
	margin-left:-45%;
	margin-top:0.2em;
	font-size:6em;
	width:90%;
	overflow-y:auto;
}
.content-messageLeft, .content-messageRight{
	margin-bottom:1em;
}
.content-messageRight{
	overflow:hidden;
}
.messageLeft-pic, .messageRight-pic{
	width:42px;
	height:42px;
}
.messageLeft-pic{
	float:left;
}
.messageRight-pic{
	float:right;
}
.messageLeft-text, .messageRight-text{
	display:inline-block;
	max-width:60%;
	padding:0 1%;
	font-size:0.8em;
	line-height:2em;
	word-wrap:break-word;
	border:1px solid #E7E7E7;
}
.messageLeft-text{
	margin-left:1%;
}
.messageRight-text{
	float:right;
	margin-right:1%;
	background-color:#9EEA6A;
}
/*内容区结束*/
/*底部开始*/
#footer{
	bottom:0;
	padding:0 2.5%;
	height:185px;
	width:95%;
	font-size:5em;
	border-top:0.2em solid #DCDCDC;
	background-color:#F7F7F7;
}
#footer-face{
	margin-top:10px;
	height:35px;
	width:35px;
}
#footer-text{
	display:block;
	height:90px;
	text-align:justify;
	letter-spacing:0;
	font-size:0.8em;
	border:none;
	outline:none;
	resize:none;
	overflow-y:auto;
	background-color:#F7F7F7;
}
#footer-send{
	float:right;
	margin-right:2%;
	width:68px;
	height:30px;
	color:#989898;
	font-size:1em;
	letter-spacing:0;
	text-align:center;
	border:none;
	outline:none;
	border:1px solid #D5D5D5;
	background-color:#F7F7F7;
	cursor:pointer;
}
#footer-send:hover{
	color:#000000;
	border:0;
}
/*底部结束*/