@charset 'UTF-8';
/**
 *
 * @authors CaiJinBiao
 * @date    2016-12-04 15:02:10
 * @version 1.0
 */
img
{
    width: 2em;
    height: 2em;
    margin-right: .5em;

    vertical-align: middle;
}
#wrap
{
    font-size: 3.3em;

    background-color: #f8f8f8;
}
.group
{
    font-size: 1em;

    background-color: #fff;
}
.group p
{
    font-size: 1em;
    line-height: 2.5em;

    height: 2.5em;

    cursor: default;
    text-indent: .5em;
}
.group p:hover
{
    background-color: #d2d2d2;
}
.area
{
    line-height: 2em;

    height: 2em;

    text-indent: 1em!important;

    background-color: #f8f8f8;
}
.area:hover
{
    background-color: #f8f8f8!important;
}
