@charset "UTF-8";
/**
 *
 * @authors CaiJinBiao
 * @date    2016-11-22 21:45:06
 * @version 1.0
 */
html, body{
	height:100%;
}
#header{
	display:none;
}
.header-title{
	height:2em;
}
.title-span{
	display:none;
	font-size:3em;
	color:#929292;
}
/*导航栏开始*/
#nav{
	float:left;
	background-color:#3E3E40;
}
.logo-span{
	visibility:hidden;
}
.nav-logo{
	margin-top:2.2em;
	margin-bottom:3em;
	width:70px;
	height:60px;
	font-size:1.3em;
}
.logo-pic{
	display:block;
	margin:0px auto;
	width:60px;
	height:60px;
}
.nav-figure{
	height:8em;
	font-size:2.3em;
	text-align:center;
}
.nav-pic{
	display:block;
	margin:0px auto;
	padding:1em 0px;
	width:40px;
	font-size:1em;
	cursor:pointer;
}
.figcaption{
	color:#FFFFFF;
	cursor:pointer;
}
/*导航栏结束*/
/*左侧两栏信息开始*/
#content{
	overflow:auto;
}
#content-concat{
	float:left;
	width:310px;
	background-color:#ECECEC;
	overflow:hidden;
}
#content-show{
	min-height:510;
	overflow:hidden;
	background-color:#4e7e9e;
}
/*左侧两栏信息结束*/
.concat-message{
	height:99%;
}