@charset 'UTF-8';
/**
 *
 * @authors CaiJinBiao
 * @date    2016-11-22 21:45:06
 * @version 1.0
 */
html,
body
{
    overflow-y: hidden;

    height: 100%;
}
#header
{
    display: none;
}
.header-title
{
    height: 2em;
}
.title-span
{
    font-size: 3em;

    display: none;

    color: #929292;
}
/*导航栏开始*/
#nav
{
    float: left;

    background-color: #3e3e40;
}
.logo-span
{
    visibility: hidden;
}
.nav-logo
{
    font-size: 1.3em;

    width: 70px;
    height: 60px;
    margin-top: 2.2em;
    margin-bottom: 3em;
}
.logo-pic
{
    display: block;

    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.nav-figure
{
    font-size: 2.3em;

    height: 8em;

    text-align: center;

    color: #fff;
}
li + li
{
    margin-top: 2em;
}
.nav-pic
{
    font-size: 1em;

    display: block;

    width: 40px;
    margin: 0 auto;
    padding: 1em 0;

    cursor: pointer;
}
.figcaption
{
    cursor: pointer;
}
/*导航栏结束*/
/*左侧两栏信息开始*/
#content
{
    overflow: auto;
}
#content-concat
{
    float: left;
    overflow: hidden;

    width: 360px;

    background-color: #ececec;
}
#content-show
{
    overflow: hidden;

    min-height: 510px;

    background-color: #4e7e9e;
}
/*左侧两栏信息结束*/
