@charset 'UTF-8';
/**
 *
 * @authors CaiJinBiao
 * @date    2016-11-23 16:55:35
 * @version 1.0
 */
/*聊天记录信息*/
#wrap
{
    background-color: #ececec;
}
.Message
{
    overflow: hidden;

    width: 95%;
    padding: 15px 2.5%;

    cursor: pointer;
}
.Message:hover
{
    background-color: #d2d2d2;
}
.Message + .Message
{
    border-top: .3em solid #e4e4e4;
}
.Message-icon
{
    float: left;

    width: 40px;
    height: 40px;
    margin: 0 2%;
}
.Message-record
{
    height: 40px;

    cursor: default;
    cursor: pointer;
}
.record-name
{
    font-size: 4.5em;
    line-height: 25px;

    display: inline-block;

    height: 25px;
}
.record-detail
{
    font-size: 3em;
    line-height: 1.1em;

    height: 1.1em;
}
.time
{
    font-size: 3em;
    line-height: 25px;

    display: inline-block;
    float: right;

    height: 25px;

    text-align: right;
}
