@charset 'UTF-8';
/**
 *
 * @authors CaiJinBiao
 * @date    2016-12-03 21:59:00
 * @version 1.0
 */
body
{
    overflow-y: auto;

    min-width: 332px;

    background-color: #f8f8f8;
}
/*头部开始*/
#header
{
    font-size: 1.3em;
    line-height: 40px;

    min-width: 270px;
    height: 40px;

    border-bottom: .16em solid #dcdcdc;
}
.header-back
{
    width: 25px;
    height: 25px;
    margin: 0 9px -9px 0;
    margin-left: 1.2%;

    cursor: pointer;
}
/*头部结束*/
#container-header
{
    position: relative;
}
#theme
{
    position: relative;
    z-index: 0;

    max-width: 100%;
}
.user
{
    font-size: 4em;

    position: relative;
    z-index: 1;

    float: right;
    overflow: hidden;

    margin-top: -2.5em;
    margin-right: 5%;
}
.user-nameAndLogo
{
    display: block;
}
.user-name
{
    line-height: 3.5em;

    height: 3.5em;
    margin-left: 3em;

    cursor: pointer;
}
.user-logo
{
    float: right;

    width: 3.5em;
    height: 3.5em;

    border: .15em solid #fff;
}
.user-saying
{
    font-size: .8em;
    line-height: 1em;

    overflow: hidden;

    width: 100%;
    height: 1em;

    text-align: right;

    color: #d2d2d2;
}
#container
{
    font-size: 4em;

    width: 90%;
    margin: 0 auto;
    margin-top: 4em;

    background-color: #f8f8f8;
}
.record
{
    background-color: #f8f8f8;
}
.record + .record
{
    margin-top: 2em;
}
.record-left
{
    font-size: 1em;

    float: left;

    min-width: 5em;
}
.record-left h2
{
    font-size: 2em;

    float: left;
}
.record-left span
{
    font-size: 1em;
}
.record-logo
{
    width: 30px;
    height: 30px;
    margin-top: 4px;
}
.record-right
{
    overflow: hidden;
}
.record h4
{
    margin: 0;

    color: #556e83;
}
.record-context
{
    line-height: 1.5em;

    text-align: justify;
}
.record-timeAndAdd
{
    width: 90%;
}
.record-time
{
    font-size: .95em;
    line-height: 2em;
}
.commentButton
{
    font-size: 1em;
    line-height: 1.5em;

    float: right;

    width: 3em;
    height: 1.5em;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #8395ae;
}
.record-username
{
    line-height: 2.5em;
}
.record-comment
{
    width: 90%;

    background-color: #eee;
}
.record-comment p
{
    font-size: 1em;
    line-height: 2em;

    width: 97%;
    margin: 0 auto;

    text-align: justify;
}
.record-comment h4
{
    float: left;
}
.inputOutSide
{
    font-size: 1em;

    display: none;

    margin-top: .5em;
}
.comment-input
{
    font-size: 1em;

    width: 90%;
    height: 1em;
    margin-top: 1.5em;

    border: none;
    border-bottom: 1px solid #d2d2d2;
    outline: none;
    background-color: #f8f8f8;
}
.comment-submit
{
    font-size: 1em;
    line-height: 1.2em;

    display: inline-block;

    width: 2.7em;
    height: 1.2em;
    margin-left: -2.7em;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #8395ae;
}
